# Ignore .bak files
*.bak

# Ignore the 'work' folder and its contents
work/
incremental_db/
db/
output_files/
simulation/
# Ignore files with .mti, .mpf, and .wlf extensions
*.mti
*.mpf
*.wlf
_info
*.qdb
*.qpg
*.qtl
_vmake
*.qpf
*.qsf
*.qws
*.docx


